[Desktop Entry]
Name=Reactionary

X-KDE-PluginInfo-Name=Reactionary
X-KDE-PluginInfo-Author=Phob1an
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=CC BY-SA
