[Desktop Entry]
Name=Otto
X-KDE-PluginInfo-Name=Otto
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
